.host {
	flex: 1;
	min-height: 40%;
	overflow: hidden;
	border: 1px solid var(--mantine-color-default-border);
	border-radius: var(--mantine-radius-md);
	background-color: var(--mantine-color-body);
}

.host :global(.cm-editor) {
	height: 100%;
}

.disabled {
	opacity: 0.7;
}
